/* assistance from Conor McCue */

body {
  max-width: 960px;
  border: 1px  black;
}

#a {
  width: 960px;
  min-height: 100px;
  border: 1px  black;
}

#b {
  max-width: 200px;
  min-height: 600px;
}

main {
  max-width: 960px;
}

article {
  width: 380px;
  min-height: 200px;
  float: left;
}

section {
  width: 190px;
  min-height: 250px;
  float: left;
}

footer {
  width: 760;
  min-height: 150px;
  float: left;
}